body {
    margin: auto;
    width: 80%;
    border:3px solid #8AC007;
    padding: 10px;
}

h1 {
    text-align: center;
}

img.ctrl-a_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height: auto;
    width: auto;
    float:left;
    padding:5px; 
}
#section {
    width:auto;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>